.title--padding {
  padding-top: 145px;
  padding-bottom: 10px;
}

.shop__nav--margin {
  margin-top: 56px;
}

.grid--padding {
  padding: 40px;
}

.image--fit {
  object-fit: cover;
}

.productCard--justify {
  display: flex;
  justify-content: center;
}

.cardContent--height {
  min-height: 140px;
}
