/* .titlePadding {
  padding-top: 80px;
} */

/* .cart--display {
  display: flex;
  justify-content: center;
} */

.cart__paper--sizing {
  padding: 14px;
}

.cart__paper__table--width {
  min-width: 50%;
  overflow-x: auto;
}

/* .button--display {
  text-align: right;
} */

#root .cart__button--margin {
  margin: 14px 0px 0px 14px;
}
