.navBar--root {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

#root .menuButton {
  margin-left: -12px;
  margin-right: 8px;
}

#root .cartButton {
  margin-left: 8px;
}

.sideMenuList {
  width: 280px 
  /* side menu width */
}