.title--padding {
  padding-top: 145px;
  padding-bottom: 10px;
}

.shop__nav--margin {
  margin-top: 56px;
}

.grid--padding {
  padding: 40px;
}

/* .card--display {
  display: inline-block;
  max-width: 370px;
} */

.image--fit {
  object-fit: cover;
}

.cardContent--height {
  min-height: 140px;
}

.productCard--justify {
  display: flex;
  justify-content: center;
}
